.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

@media all and (min-width: 1200px) {

    /*
        We invert order of first sidebar and main
        and tell the maon element to take twice as much width as the other two sidebars
     */
    .main {
        flex: 2 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}


/* Button */
button {
    color: #fff;
    width: 60px;
    height: 32px;
    background-color: #0495c9;
    border: 1px solid #357ebd;
    border-radius: 2px 2px 2px 2px;
}

button:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}



/*  Table  */
.table-sorter-normal::after {
    float: right;
    margin-right: 5px;
    content: "\25AA";
}

.asc-table-sorter::after {
    float: right;
    margin-right: 5px;
    content: "\25BE";
}

.desc-table-sorter::after {
    float: right;
    margin-right: 5px;
    content: "\25B4";
}


/* Theme style*/

.dark {
    background-color: rgb(58, 56, 56);
}

.dark>button {
    background-color: #ff5564;
}

.dark>button:hover {
    background-color: #f18d95;
}

.dark>h1 {
    color: white;
}

.dark>h2 {
    color: white;
}

.dark>div>h2 {
    color: white;
}



.light {
    background-color: gray;
}